cat <<EOF
---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: ocp4
  namespace: policies
spec:
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchExpressions:
        - {key: policies.release-update, operator: In, values: ["ocp4"]}
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: ocp4
  namespace: policies
placementRef:
  name: ocp4
  kind: Placement
  apiGroup: cluster.open-cluster-management.io
subjects:
- name: cluster-version-ocp4
  kind: Policy
  apiGroup: policy.open-cluster-management.io
- name: signature-ocp4
  kind: Policy
  apiGroup: policy.open-cluster-management.io
EOF
