cat <<EOF
---
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: update-service-ocp4
  namespace: policies
spec:
  disabled: false
  remediationAction: enforce
  policy-templates:
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: update-service-ocp4
      spec:
        object-templates:
        - complianceType: musthave
          objectDefinition:
            apiVersion: updateservice.operator.openshift.io/v1
            kind: UpdateService
            metadata:
              name: ocp4
              namespace: openshift-update-service
            spec:
              replicas: 2
              releases: $REGISTRY/ocp4/openshift/release-images
              graphDataImage: $REGISTRY/ocp4/openshift/graph-image:latest
            status:
              conditions:
              - status: "True"
                type: ReconcileCompleted
        - complianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: ConfigMap
            metadata:
              name: update-service-ocp4
              namespace: policies
            data:
              graphUrl: '{{ ( (cat (lookup "updateservice.operator.openshift.io/v1" "UpdateService" "openshift-update-service" "ocp4").status.policyEngineURI "/api/upgrades_info/v1/graph") | replace " " "") }}'
        - complianceType: musthave
          objectDefinition:
            apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: ocp4
              namespace: openshift-update-service
            status:
              conditions:
              - status: "True"
                type: Available
EOF
