cat <<EOF
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: clusters-$REPO
  namespace: policies
placementRef:
  name: clusters-placement-$REPO
  kind: Placement
  apiGroup: cluster.open-cluster-management.io
subjects:
- name: cv-$REPO
  kind: Policy
  apiGroup: policy.open-cluster-management.io
- name: signature-$REPO
  kind: Policy
  apiGroup: policy.open-cluster-management.io
EOF
