cat <<EOF
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: osus-$REPO
  namespace: policies
placementRef:
  name: placement-opp-hub
  kind: Placement
  apiGroup: cluster.open-cluster-management.io
subjects:
- name: osus-$REPO
  kind: Policy
  apiGroup: policy.open-cluster-management.io
EOF
